<ul data-orbit>
  <li class="hobby imgLiquidFill imgLiquid">
    <%= image_tag("sunset_lake.jpg") %>
    <div class="orbit-caption">111</div>
  </li>
  <li class="hobby imgLiquidFill imgLiquid">
    <%= image_tag("sunrise_lake.jpg") %>
    <div class="orbit-caption">222</div>
  </li>
  <li class="hobby imgLiquidFill imgLiquid">
    <%= image_tag("me_beach.jpg") %>
    <div class="orbit-caption">333</div>
  </li>
</ul>