<div id="resume">
  <section id="education"><br/>
    <aside>
      <h4>Education</h4>
    </aside>
    <article class="csulb-group">
      <h3>
        <%= link_to "California State University Long Beach", "http://www.csulb.edu/" %>
      </h3>
      <div class="date">2006</div>
      <div class="title">
        <span>B.A. in English: Option in English Education</span>
      </div>
      <span class="explanation"><br/>
        Graduated Cum Laude with a 3.75 GPA<br/>
        Granted placement on the President’s list during my final two years of study
      </span>
    </article>
    <article class="bootcamp-group">
      <h3>
        <%= link_to "Dev Bootcamp", "http://devbootcamp.com/" %>
      </h3>
      <div class="date">2013</div>
      <div class="title">
        <span>Graduate and T.A.</span>
      </div>
      <span class="explanation"><br/>
        9 weeks + 15 hour days = One Accelerated Developer Course
      </span>
    </article>
    <article class="ccsf-group">
      <h3>
        <%= link_to "City College of San Francisco", "http://www.ccsf.edu/" %>
      </h3>
      <div class="date">2012</div>
      <div class="title">
        <span>Student</span>
      </div>
      <span class="explanation"><br/>
        Completed studies in C++, Unix/Linux, MySQL and HTML
      </span>
    </article>
    <article class="linux-group">
      <h3>
        <%= link_to "Intro to BASH and Shell Scripting", "https://www.noisebridge.net/wiki/Noisebridge" %>
      </h3>
      <div class="date">2012</div>
      <div class="title">
        <span>Instructor/Student</span>
      </div>
      <span class="explanation"><br/>
        Helped to create and teach Command Line and Shell Scripting class at Noisebridge
      </span>
    </article>
  </section>
</div>