<div id="resume">
  <header>
    <h1>
      Jeremy Sell.
    </h1>
  </header>
  <section id="education">
    <aside>
      <h4>Education</h4>
    </aside>
    <article>
      <h3>
        <%= link_to "California State University Long Beach", "http://www.csulb.edu/" %>
      </h3>
      <div class="date">2006</div>
      <div class="title">
        <b>B.A. in English: Option in English Education </b>
      </div>
      <p>
        Graduated Cum Laude with a 3.75 GPA
        Granted placement on the President’s list during my final two years of study
      </p>
    </article>
    <article>
      <h3>
        <%= link_to "Dev Bootcamp", "http://devbootcamp.com/" %>
      </h3>
      <div class="date">2013</div>
      <div class="title">
        <b>Graduate</b>
      </div>
      <p>
        9 weeks + 15 hour days = One intensive course
      </p>
    </article>
    <article>
      <h3>
        <%= link_to "City College of San Francisco", "http://www.ccsf.edu/" %>
      </h3>
      <div class="date">2012</div>
      <div class="title">
        <b>Student</b>
      </div>
      <p>
        Completed studies in C++, Unix/Linux, MySQL and HTML
      </p>
    </article>
  </section>
  <section id="Projects">
    <aside>
      <h4>Projects</h4>
    </aside>
    <article>
      <h3>
        <%= link_to "Grocer-Ease", "http://grocer-ease.herokuapp.com" %>
      </h3>
      <div class="date">2013</div>
      <div class="title">
        <b>Contributor</b>
      </div>
      <p>
        Cooking is fun. Figuring out and getting the ingredients you need is not. Grocer Ease allows you to choose recipes you want to cook and get the ingredients you need delivered to your door (almost).
      </p>
    </article>
  </section>
  <section id="proficiencies"></section>
</div>