<div id="technologies">  
  <section id="key-skills">
    <aside>
      <h4>Key Skills</h4>
    </aside>
    <article class="skill-group">
      <h3 class="skill-header">
        Technologies
      </h3>
      <span class="technologies">
        Ruby, Rails, Javascript, AJAX, JQuery, HTML, CSS, MySQL,<br/>PostgreSQL, ActiveRecord, JSON
      </span>
      <h3 class="skill-header">
        Operating Systems
      </h3>
      <span class="operating-systems">
        OSX, Linux Ubuntu, Windows 7
      </span>
    </article>
  </section>
</div>