<!-- hobby modal -->

<div id="hobby-modal" class="reveal-modal">
  <a class="close-reveal-modal">&#215;</a>
  <%= render partial: 'home/hobby_slider' %>
</div>

<!-- education modal -->

<div id="resume-modal" class="reveal-modal">
  <%= render partial: 'home/resume' %>
  <a href="#"  data-reveal-id="technologies-modal"><i class='tiny fa fa-arrow-right fa-3x'></i></a>
</div>


<!-- technologies modal -->

<div id="technologies-modal" class="reveal-modal">
  <a class="close-reveal-modal">&#215;</a>
  <%= render partial: 'home/technologies' %>
</div>