<!-- hobby modal -->

<div id="hobby-modal" class="reveal-modal">
  <a class="close-reveal-modal">&#215;</a>
  <%= render partial: 'home/hobby_slider' %>
</div>

<!-- resume modal -->

<div id="resume-modal" class="reveal-modal">
  <a class="close-reveal-modal">&#215;</a>
  <%= render partial: 'home/resume' %>
</div>

<div id="technologies-modal" class="reveal-modal">
  <a class="close-reveal-modal">&#215;</a>
  <%= render partial: 'home/technologies' %>
</div>